@model IEnumerable<PeopleAndPetsAPI.Entities.PersonViewModel>

@{
    ViewData["Title"] = "Index";

    bool deletedSuccessfully = false;

    if (ViewData["DeletedSuccessfully"] != null)
    {
        deletedSuccessfully = true;
    }
}

<h1>Pet Owners</h1>

@Html.Partial("~/Views/Partial/SearchBar.cshtml")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "LoadEditPersonPage", "Home", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "DeletePerson", "Home", new { id = item.Id }) |
                    @Html.ActionLink("Pets", "Index", "Pets", new { ownerId = item.Id, ownerName = item.Name })
                </td>
            </tr>
        }
    </tbody>
</table>

@if(deletedSuccessfully)
{
    <p>@ViewData["DeletedSuccessfully"]</p>
}

@Html.ActionLink("Add Person", "LoadAddPersonPage", "Home")